<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <title>HERMES | طراحی دکوراسیون هرمس</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "album/fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "album/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "album/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "album/css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "album/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "album/css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "album/css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "album/fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "album/css/aos.css" %}">
    <link rel="stylesheet" href="{% static "album/css/jquery.scrollbar.css" %}">
    <link rel="stylesheet" href="{% static "album/css/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "album/css/swiper.min.css" %}">

    <link rel="stylesheet" href="{% static "album/css/style.css" %}">
          <link rel="stylesheet" href="{% static "firstpage/fonts/fonts-fa.css" %}">

          <link rel="stylesheet" href="{% static "firstpage/css/main.css" %}">

    
  </head>
  <body>
  

  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

      <header id="slider-area" class="text-right">
      <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
        <div class="container">
          <a class="navbar-brand" href="/design/">بخش طراحی دکوراسیون <i class="fa fa-pencil"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!--<ul class="navbar-nav mr-auto w-100 justify-content-end">-->
              <ul class="navbar-nav mr-auto w-100 text-right" style="direction: rtl">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="../">بازگشت به صفحه اصلی</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  

  <div class="swiper-container gallery-top">
<div class="swiper-wrapper">
<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_1.jpg' %}');">
  <a href='{% static 'album/images/img_1.jpg' %}' data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here</h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis architecto deserunt doloribus, nisi placeat quas ratione perferendis? Placeat aliquid assumenda, odio numquam vero eveniet fugit blanditiis dolorum laudantium voluptatibus!</p>
      </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_2.jpg' %}');">
  <a href="images/img_2.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 2</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_3.jpg' %}');">
  <a href="images/img_3.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 3</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_4.jpg' %}');">
  <a href="images/img_4.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 4</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_5.jpg' %}');">
  <a href="images/img_5.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 5</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_6.jpg' %}');">
  <a href="images/img_6.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 6</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_7.jpg' %}');">
  <a href="images/img_7.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 7</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_8.jpg' %}');">
  <a href="images/img_8.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 8</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_9.jpg' %}');">
  <a href="images/img_9.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 9</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_10.jpg' %}');">
  <a href="images/img_10.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 10</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_1.jpg' %}');">
  <a href="images/img_1.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here</h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis architecto deserunt doloribus, nisi placeat quas ratione perferendis? Placeat aliquid assumenda, odio numquam vero eveniet fugit blanditiis dolorum laudantium voluptatibus!</p>
      </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_2.jpg' %}');">
  <a href="images/img_2.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 2</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_3.jpg' %}');">
  <a href="images/img_3.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 3</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_4.jpg' %}');">
  <a href="images/img_4.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 4</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_5.jpg' %}');">
  <a href="images/img_5.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 5</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_6.jpg' %}');">
  <a href="images/img_6.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 6</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_7.jpg' %}');">
  <a href="images/img_7.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 7</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_8.jpg' %}');">
  <a href="images/img_8.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 8</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_9.jpg' %}');">
  <a href="images/img_9.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 9</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url('{% static 'album/images/img_10.jpg' %}');">
  <a href="images/img_10.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 10</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

</div>

<div class="swiper-button-next swiper-button-white"></div>
<div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
<div class="swiper-wrapper">
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_1.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_2.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_3.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_4.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_5.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_6.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_7.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_8.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_9.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_10.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_1.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_2.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_3.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_4.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_5.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_6.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_7.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_8.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_9.jpg' %}');"></div>
<div class="swiper-slide cover" style="background-image:url('{% static 'album/images/img_10.jpg' %}');"></div>
</div>
</div>

</div> <!-- .site-wrap -->

  <script src="{% static "album/js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "album/js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "album/js/jquery-ui.js" %}"></script>
  <script src="{% static "album/js/popper.min.js" %}"></script>
  <script src="{% static "album/js/bootstrap.min.js" %}"></script>
  <script src="{% static "album/js/owl.carousel.min.js" %}"></script>
  <!-- <script src="js/jquery.stellar.min.js"></script> -->
  <script src="{% static "album/js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "album/js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "album/js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "album/js/aos.js" %}"></script>

  <script src="{% static "album/js/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "album/js/swiper.min.js" %}"></script>
  <script src="{% static "album/js/jquery.scrollbar.js" %}"></script>
  <script src="{% static "album/js/main.js" %}"></script>

  
    
  </body>
</html>