<!DOCTYPE html>{% load static %}
<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static "logo_hermes.png" %}" />
    <meta name="keywords" content="طراحی دکوراسیون , هرمس چوب , هرمس , کابینت آشپزخانه , کابینت , آشپزخانه , کابینت های گلاس , آخرین مدل های کابینت , طراحی دکوراسیون آنلاین , کابینت ارزان قیمت , " />
    <meta name="description" content="گروه دکوراسیون و کابینت هرمس پیشرو در طراحی و اجرای پروژه های طراحی دکوراسیون منزل و آشپزخانه. با استفاده از قابلیت طراحی آنلاین هرمس، میتوانید به راحتی و به صورت کاملا رایگان دکوراسیون آشپزخانه و منزل خود را طراحی کنید." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Salar">

    <title>HERMES | طراحی دکوراسیون هرمس</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "firstpage/font-awesome/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "firstpage/fonts/fonts-fa.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/line-icons.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/owl.theme.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/nivo-lightbox.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/menu_sideslide.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/main.css" %}">
    <link rel="stylesheet" href="{% static "firstpage/css/responsive.css" %}">

  </head>
  
  <body>
    <!-- Header Section Start -->
    <header id="slider-area" class="text-right">
      <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
        <div class="container">          
          <a class="navbar-brand" href="/design/">بخش طراحی دکوراسیون <i class="fa fa-pencil"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!--<ul class="navbar-nav mr-auto w-100 justify-content-end">-->
              <ul class="navbar-nav mr-auto w-100 text-right" style="direction: rtl">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="../">بازگشت به صفحه اصلی</a>
              </li>
            </ul>              
          </div>
        </div>
      </nav>
    </header>


    <!-- Portfolio Section -->
    <section id="portfolios" class="section" style="direction: rtl;">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header text-right">
          <h2 class="section-title">نمونه پروژه های اجرا شده</h2>

          <!--<p class="section-subtitle">در این قسمت برخی از نمونه کارهای قبلی گروه هرمس ارایه شده است</p>-->
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">

              <a class="filter btn btn-common btn-effect" data-filter=".cabinet">
                آشپزخانه
              </a>
              <a class="filter btn btn-common btn-effect" data-filter=".comod">
                کمد دیواری
              </a>
              <a class="filter btn btn-common btn-effect" data-filter=".decor">
                دکوراسیون
              </a>
                <a class="filter active btn btn-common btn-effect" data-filter="all">
                همه
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>
        </div>

        <!-- Portfolio Recent Projects -->
        <div id="portfolio" class="row" >
          <div class="col-lg-3 col-md-6 col-xs-12 mix comod decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/comod_1.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_1.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_1.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_40.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_40.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_40.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_41.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_41.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_41.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_27.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_27.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_27.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_3.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_3.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_3.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix comod decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/comod_6.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_6.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_6.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_10.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_10.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_10.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_41.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_41.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_41.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_34.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_34.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_34.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_27.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_27.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_27.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_8.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_8.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_8.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_4.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_4.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_4.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_11.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_11.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_11.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_11.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_11.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_11.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_20.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_20.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_20.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix comod">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/comod_5.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_5.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/comod_5.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_13.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_13.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_13.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_1.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_1.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_1.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_23.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_23.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_23.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_29.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_29.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_29.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_2.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_2.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_2.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_5.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_5.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_5.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix decor">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/decoration_23.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_23.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/decoration_23.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mix cabinet">
            <div class="portfolio-item">
              <div class="shot-item">
                <img style="height: 178px" src="{% static "firstpage/img/portfolio/kitchen_15.jpg" %}" alt="" />
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_15.jpg" %}"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a class="lightbox" href="{% static "firstpage/img/portfolio/kitchen_15.jpg" %}">مشاهده تصویر</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

      <!-- Footer area End -->

      <!-- Copyright Start  -->
      <div id="copyright" style="direction: rtl;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-right">
                <p>تمامی حقوق این وبسایت به <a href=".." rel="nofollow">گروه هرمس</a> تعلق دارد</p>
              </div>
              <div class="float-left">
                <ul class="nav nav-inline">
                  <li class="nav-item">
                    <a class="nav-link active" href="../">خانه</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->


    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static "firstpage/js/jquery-min.js" %}"></script>
    <script src="{% static "firstpage/js/popper.min.js" %}"></script>
    <script src="{% static "firstpage/js/bootstrap.min.js" %}"></script>
    <script src="{% static "firstpage/js/classie.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.mixitup.js" %}"></script>
    <script src="{% static "firstpage/js/nivo-lightbox.js" %}"></script>
    <script src="{% static "firstpage/js/owl.carousel.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.stellar.min.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.nav.js" %}"></script>
    <script src="{% static "firstpage/js/scrolling-nav.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "firstpage/js/wow.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.vide.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "firstpage/js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "firstpage/js/waypoints.min.js" %}"></script>
    <script src="{% static "firstpage/js/form-validator.min.js" %}"></script>
    <script src="{% static "firstpage/js/contact-form-script.js" %}"></script>
    <script src="{% static "firstpage/js/main.js" %}"></script>



  <script>

window.onload = function() {
    document.getElementById("portfolios").style.minHeight = ($(window).height()-61).toString()+"px";
}
</script>
  </body>
</html>